<h1><%= @titulo ||= "Empresa ROR" %></h1>
<p>Puede contactarnos cuando quiera. Estamos 24/7 a su disposición, para lo que
sea que necesite ahí estaremos. Sí, incluso los festivos, no tenemos nada mejor
que hacer que ofrecerle nuestros servicios. Si quiere oir un chiste también
puede contactarnos, tenemos a los mejores cuentachistes de nuestr propia 
oficina. No se sienta triste por nosotros, nosotros nos sentimos tristes por
usted</p>