<h1><%= @titulo ||= "Empresa ROR" %></h1>
<p>Bienvenido a nuestra página principal. Como puede darse cuenta, no somos
expertos en diseño pero nos concentramos en darle el mejor servicio...
A veces</p>