<h1><%= @titulo ||= "Empresa ROR" %></h1>
<p>Nos encontramos en la calle Falsa 123, pero no como la de los Simpsons que
resulto ser verdadera, nos encontramos en una calle verdaderamente falsa. Para
llegar puede tomar la ruta SITP 3.14159265, o por la troncal aérea de
transmilenio tomando la ruta ACM1PT</p>