<h1><%= @titulo ||= "Empresa ROR" %></h1>
<p>Somos unos humildes campechanos venidos a m치s al conocer el maravilloso mundo
de la programaci칩n y de decirle a un computador que hacer de manera autom치tica
porque nos da pereza hacerlo nosotros mismos. El nacimiento de nuestra empresa
se da debido a esa pasi칩n que tenemos por no morirnos de hambre y de brindar el
mejor servicio posible a nuestros clientes. Por favor, no nos pregunte que
servicio ofrecemos, ya que ese es uno de los mayores misterios de la vida.</p>