<h1><%= @titulo ||= "Empresa ROR" %></h1>
<p>Tenemos un amplio repertorio de servicios, cuya naturaleza es tan excelsa 
que nos es imposible describirlos con palabras. Los servicios están disponibles
para todo tipo de cliente, desde los más pequeños hasta los más grandes, desde
los más multitudinarios hasta lo más individual y personalizado. Tantos
servicios a tan altísima calidad solo pueden ser ofrecidos por nosotros.</p>